footer{
   

}

body{
    background-color: purple;
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fbcc04;
    padding: 10px;
    border-top: 2px solid purple;
    left: 0px;
    text-align: center;
}